<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection of Parkinson's Disease</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="heading">
        <h1><strong>Parkinson's Disease Detection</strong></h1>
    </div>

        <div class="content"> 
            <h2>Enter the following details</h2>
            <br>
            <form action="/next_1" method="POST" autocomplete="off">  

                <div class="form-row">
                    <div class="form-group col">
                        <label for="mdvp_fo">MDVP:Fo(Hz)</label>
                        <input type="float" name="mdvp_fo" id="mdvp_fo" placeholder="88-260">
                    </div>
                    <div class="form-group col">
                        <label for="mdvp_fhi">MDVP:Fhi(Hz)</label>
                        <input type="float" name="mdvp_fhi" id="mdvp_fhi" placeholder="102-592">
                    </div>
                    <div class="form-group col">
                        <label for="mdvp_flo">MDVP:Flo(Hz)</label>
                        <input type="float" name="mdvp_flo" id="mdvp_flo" placeholder="65-240">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label for="mdvp_jitper">MDVP:Jitter(%) </label>
                        <input type="float" name="mdvp_jitper" id="mdvp_jitper" placeholder="0.001-0.033">
                    </div>
                    <div class="form-group col">
                        <label for="mdvp_jitabs">MDVP:Jitter(Abs)</label>
                        <input type="float" name="mdvp_jitabs" id="mdvp_jitabs" placeholder="0.00002-0.0002">
                    </div>
                    <div class="form-group col">
                        <label for="mdvp_rap">MDVP:RAP</label>
                        <input type="float" name="mdvp_rap" id="mdvp_rap" placeholder="0.0006-0.02">
                    </div>
                </div>
            

                <div class="form-row">
                    <div class="form-group col">
                        <label for="mdvp_ppq">MDVP:PPQ </label>
                <input type="float" name="mdvp_ppq" id="mdvp_ppq" placeholder="0.0009-0.02">
                    </div>
                <br>
                <button type="submit" class="btn btn-light btn-lg" value="Next">Next</button> 
            </form>
        </div>
    

</body>
</html>

